/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font);
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--text-weight);
}

.background-color {
  background-color: var(--main-color);
}

.inline-center {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.border {
  border: 2px #000 solid;
}

.border-bottom {
  border-bottom: 2px #000 solid;
}

.text-uppercase {
  text-transform: uppercase;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  gap: 20px;
  margin: 98px auto 96px;
  font-family: var(--accent-font);
  min-block-size: var(--block-size);
  inline-size: var(--header-inline-size);
}

.header-title {
  font-size: var(--title-font-size);
}

.header-description {
  font-size: var(--description-font-size);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.section {
  margin-block-end: 50px;
  inline-size: var(--section-inline-size);
}

.section_title {
  padding: 5px 10px;
  font-size: var(--text-size);
  font-variation-settings: 'wght' var(--text-bold-weight);
}

.section_image {
  position: relative;
  max-width: 700px;
  border-top: 2px solid var(--contour-color);
  border-bottom: 2px solid var(--contour-color);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: var(--small-text-size);
  mix-blend-mode: hard-light;
}

.section_text {
  display: flex;
  flex-direction: column;
  gap: var(--text-padding);
  padding: var(--text-padding) var(--text-padding) 0 var(--text-padding);
  font-size: var(--text-size);
  line-height: 21px;
}

.section__buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 7px;
  padding: var(--text-padding);
} 

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 38px;
  inline-size: 130px;
}

.button__text-decor {
  color: #fff;
  mix-blend-mode: difference;
}
  
.button__decor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--contour-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button__decor:hover:before {
  transform: scaleX(1);
}

.stroke {
  text-shadow: -1px 0 var(--main-color), 
  0 1px var(--main-color), 
  1px 0 var(--main-color), 
  0 -1px var(--main-color);;
}

@supports (-webkit-text-stroke: 0.5px #fff) {
  .stroke {
    -webkit-text-stroke: 0.5px #fff;
  }
}

.save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
  inline-size: var(--save-inline-size);
}

.button {
  position: relative;
  font-family: var(--accent-font);
  font-size: var(--small-text-size);
  transition: box-shadow 0.3s ease;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--contour-color);
  outline: none;
}

.card__icon-button {
  height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--contour-color);
  outline-offset: -2px;
}

.footer-button {
  margin: 0px auto 85px;
}

.popup-open {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 28px;
  font-family: var(--accent-font);
  font-size: var(--small-text-size);
}

.popup-open_layout {
  display: flex;
  align-items: center;
  gap: 24px;
  block-size: 63px;
}

.popup-open_layout p {
  line-height: 150%;
  max-inline-size: 230px;
  max-block-size: 63px;
}

.popup-open_button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-block-size: 38px;
}

#dialog-id::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-floppy {
  display: block;
  flex-shrink: 0;
  width: 39px;
}

.save-floppy {
  width: 21px;
}

#dialog-id {
  border: 0;
  padding: 0;
}

/* Сердце */

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.heart:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.heart:hover .contour {
  fill: var(--contour-color);
}

.heart:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.heart:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.heart:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: pulse 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  fill: var(--animation-fill-color);
  transform-origin: center;
  animation: sparks 0.3s 0.3s ease-in 1;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .header {
    margin: 98px auto 115px;
  }

  .save-floppy {
    width: 28px;
  }

  .popup-open {
    padding: 28px 38px;
    inline-size: 341px;
  }

  .footer-button {
  margin: 0px auto 83px;
  }
}

.filter__grayscale { 
  filter: grayscale(0.6); 
} 
 
.filter__bright-pink { 
  filter: saturate(3) hue-rotate(20deg) contrast(1.3) brightness(1.1); 
} 
 
.filter__lo-fi { 
  filter: saturate(1.3) hue-rotate(30deg) contrast(1.2) brightness(0.9); 
} 
 
.filter__invert { 
  filter: invert(1); 
} 
 
.filter__sepia { 
  filter: sepia(1); 
} 
 
.filter__blur { 
  filter: blur(10px); 
} 
 
.filter__soft-orange-blur { 
  filter: saturate(1) hue-rotate(100deg) contrast(0.5) blur(2px); 
}