/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font);
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--text-weight);
}

.background-color {
  background-color: var(--main-color);
}

.inline-center {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.border {
  border: 2px #000 solid;
}

.border-bottom {
  border-bottom: 2px #000 solid;
}

.text-uppercase {
  text-transform: uppercase;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  gap: 20px;
  block-size: var(--block-size);
  inline-size: var(--header-inline-size);
  margin: 98px auto 96px;
  font-family: var(--accent-font);
}

.header-title {
  font-size: var(--title-font-size);
}

.header-description {
  font-size: var(--description-font-size);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
}

.image {
  width: 100%;
  display: block;
  max-width: 700px;
  max-height: 700px;
}

.section {
  margin-block-end: 50px;
  inline-size: var(--section-inline-size);
}

.section_text-spacing {
  letter-spacing: 0.66px;
}

.section_title {
  padding: 5px 10px;
  font-variation-settings: 'wght' var(--text-bold-weight);
  font-size: var(--text-size);
}

.section_image {
  position: relative;
}

.label {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-size: var(--small-text-size);
  font-family: var(--accent-font);
}

.section_text {
  display: flex;
  flex-direction: column;
  gap: var(--text-padding);
  padding: var(--text-padding) var(--text-padding) 0 var(--text-padding);
  line-height: 21px;
  font-size: var(--text-size);
}

.section__buttons {
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: end;
  padding: var(--text-padding);
} 

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--small-text-size);
  block-size: 38px;
  inline-size: 130px;
  font-family: var(--accent-font);
  position: relative;
}

.button__text-decor {
  color: #fff;
  mix-blend-mode: difference;
}
  
.button__decor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--contour-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left center;
}

.button__decor:hover:before {
  transform: scaleX(1);
}

.stroke {
  text-shadow: -1px 0 var(--main-color), 
  0 1px var(--main-color), 
  1px 0 var(--main-color), 
  0 -1px var(--main-color);;
}

@supports (-webkit-text-stroke: 0.5px #fff) {
  .stroke {
    -webkit-text-stroke: 0.5px #fff;
  }
}

.save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--small-text-size);
  padding: 15px 0;
  inline-size: var(--save-inline-size);
  gap: 8px;
  font-family: var(--accent-font);
}

.button {
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--contour-color);
}

.card__icon-button {
  height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--contour-color);
  outline-offset: -2px;
}

.footer-button {
  display: flex;
  justify-content: center;
  margin: -5px auto 100px;
}

.popup-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 36px;
  max-inline-size: 353px;
  font-size: var(--small-text-size);
  font-family: var(--accent-font);
  align-items: center;
  border: 2px solid #000;
  min-block-size: 191px;
}

.popup-open_layout {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  column-gap: var(--small-text-padding);
  line-height: 150%;
}

.popup-open_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  block-size: 38px;
  inline-size: clamp(261px, 50vw, 293px);
  padding-block-start: 1px;
}

#dialog-id::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-floppy {
  width: 39px;
  grid-row: 1 / 3;
  align-self: center;
}

.save-floppy {
  width: 21px;
}

#dialog-id {
  padding: 0;
  border: 0;
}

/* Сердце */

.sparks {
  fill: var(--animation-fill-color);
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.heart:hover .core {
  transition: fill 0.3s linear 0s;
  fill: var(--contour-color);
}

.heart:hover .contour {
  fill: var(--contour-color);
}

.heart:hover .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--contour-color);
}

.heart:active .core {
  transition: fill 0.3s linear 0s;
  fill: var(--animation-fill-color);
}

.heart:active .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear 0s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .sparks {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: pulse 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks 0.3s 0.3s ease-in 1;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    margin: -5px auto 83px;
  }

  .header {
    margin: 98px auto 115px;
  }

  .save-floppy {
    width: 28px;
  }
}

.section__start {
  filter: grayscale(0.6)
}

.section__ififif {
  filter: saturate(3) hue-rotate(20deg) contrast(1.3) brightness(1.1);
}

.section__road {
  filter: saturate(1.3) hue-rotate(30deg) contrast(1.2) brightness(0.9);
}

.section__together {
  filter: invert(1);
}

.section__strategy {
  filter: sepia(1);
}

.section__kalym {
  filter: blur(10px);
}

.section__now {
  filter: saturate(1) hue-rotate(100deg) contrast(0.5) blur(2px);
}